/** All custom style sheets */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: ClearViewText Medium;
}

.clear {
	clear:both;
}

.right {
	float: right !important;
}


.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #655E5E;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding: 0px 3px;	
    user-select: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.btn:hover {
    background-color: #CCD0CC;
    color: #696464;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 17px;
  line-height: 1.5;
  border-radius: 2px;
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 2px;
}
.btn-calendar {
  font-size: 13px;
}



/** ////////////////// Login page///////////////////// */
body#login-page{
	background: url("../images/log_in_bg.jpg");
}

.logo {
	width: 137px;
	height: 50px;
	margin: auto;
	border-bottom: solid 2px #7c7c7c;
}


.login-panel {
	width: 484px;
	margin: auto;
	padding-top: 149px;
	text-align: center;
}

.login-panel .panel-content h1 {
	line-height: 19.44px;
	font-size: 24.96px;
	color: #FFFFFF;
	font-family:  ClearviewText Book;
	margin-top: 17px;
}

.login-box {
	height: 230px;
	background-color: #2B2B2B;
	margin-top: 30px;
}
.login-box .box-title {
	font-size: 16.38px;
	color: #767676;
	line-height: 19.44px;
	margin-bottom: 15px;
	padding-top: 17px;
	font-family: ClearviewText Light
}
.login-box input {
	width: 307px;
	margin-bottom: 49px;
	font-size: 22px;
	height: 46px;
	color: #fff;
	background-color: #272727;
	border: 0px;
	text-align: center;
	font-style: italic;
}

.panel-footer {
	padding-top: 48px;
}
.panel-footer #login-btn {
	width: 203px;
	height:39px;
	background: url("../images/btn.png");
	border: 0px;
}
.panel-footer #login-btn:focus {
	background: url("../images/btn_highlight.png");
}

.login-overlay {
	filter:alpha(opacity=90); 
	opacity:0.9;
	background-color: #040404;
	width: 734px;
	height: 489px;
	position: absolute;
    top: 141px;
    left: 50%;
    margin-left: -367px;
}

.login-overlay .message {
	margin-top: 177px;
}
.login-overlay .message h1 {
	color : #fff;
	font-family: ClearviewText Bold;
	font-size: 25px;
	line-height: 24.93px;
	text-align: center;
}

.hidden {
	display: none;
}

/** ////////////////// End Login page///////////////////// */

